<!--script src="{{"js/clipboard.min.js" | relURL}}"></script-->
<script async src="{{"js/featherlight.min.js" | relURL}}"></script>
<script async src="{{"js/html5shiv-printshiv.min.js" | relURL}}"></script>
{{if eq .Site.Params.highlightClientSide true}}
<script async src="{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}
<script async src="{{"js/modernizr.custom.71422.js" | relURL}}"></script>
<script async src="{{"js/docdock.js" | relURL}}"></script>
<script async src="{{"theme-original/script.js" | relURL}}"></script>
