{{ partial "header.html" . }}

<!--
<h3> Default Taxonomy Template </h3>
Type is {{ .Type }} <br>
-->

{{ .Content }}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>


{{if not .Content }}
	<ul>
	{{ range $index, $page := $.Site.Pages.ByTitle }}
	    <li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
	{{ end }}
	</ul>
	<div style="margin-bottom:2rem"></div>
{{end}}

{{ partial "footer.html" . }}
